<!DOCTYPE html>
<html style="overflow: hidden;">
    <head>
        <title>Youtube Trending</title>
        <script src="https://d3js.org/d3.v4.js"></script>
        <link rel="shortcut icon" href="static/images/icons/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="static/css/scatter.css">
    </head>
    <body style="height: 100vh; width: 100%; display: flex; margin: 0px;">
        <div id='sidebar' style="width: 15%; height: 100%; font-size: large; background-color: #991b1b;">
            <img id='logo' src='static/images/YouTrendingLOGO.png' width="80%" style="margin-left: 10%; margin-top: 10%; margin-bottom: 10%; cursor: pointer;">

            <form action='/category' method='POST' style="margin-left: 15%;">
                <p style="color: mintcream;">Trending Time:</p>
                <select name='time' id='select_time' style="width: 80%; height: 28px;">
                    <option value='1w' {% if selected[0] == '1w' %} selected {% endif %}>Last week</option>
                    <option value='2w' {% if selected[0] == '2w' %} selected {% endif %}>Last 2 weeks</option>
                    <option value='1m' {% if selected[0] == '1m' %} selected {% endif %}>Last month</option>
                    <option value='all' {% if selected[0] == 'all' %} selected {% endif %}>All</option>
                </select>
                <br>
                <p style="color: mintcream;">Country:</p>
                <select name='country' id='select_country' style="width: 80%; height: 28px;">
                    <option value='all' {% if selected[1] == 'all' %} selected {% endif %}>All</option>
                    <option value='br' {% if selected[1] == 'br' %} selected {% endif %}>Brazil</option>
                    <option value='ca' {% if selected[1] == 'ca' %} selected {% endif %}>Canada</option>
                    <option value='de' {% if selected[1] == 'de' %} selected {% endif %}>Germany</option>
                    <option value='fr' {% if selected[1] == 'fr' %} selected {% endif %}>France</option>
                    <option value='gb' {% if selected[1] == 'gb' %} selected {% endif %}>Great Britain</option>
                    <option value='in' {% if selected[1] == 'in' %} selected {% endif %}>India</option>
                    <option value='jp' {% if selected[1] == 'jp' %} selected {% endif %}>Japan</option>
                    <option value='kr' {% if selected[1] == 'kr' %} selected {% endif %}>South Korea</option>
                    <option value='mx' {% if selected[1] == 'mx' %} selected {% endif %}>Mexico</option>
                    <option value='ru' {% if selected[1] == 'ru' %} selected {% endif %}>Russia</option>
                    <option value='us' {% if selected[1] == 'us' %} selected {% endif %}>United States</option>
                </select>
                <br>
                <p style="color: mintcream;">Language:</p>
                <select name='lang' id='select_lang' style="width: 80%; height: 28px;">
                    <option value='all' {% if selected[2] == 'all' %} selected {% endif %}>All</option>
                    <option value='en' {% if selected[2] == 'en' %} selected {% endif %}>English</option>
                    <option value='ru' {% if selected[2] == 'ru' %} selected {% endif %}>русский</option>
                    <option value='de' {% if selected[2] == 'de' %} selected {% endif %}>Deutsch</option>
                    <option value='ja' {% if selected[2] == 'ja' %} selected {% endif %}>日本語</option>
                    <option value='ko' {% if selected[2] == 'ko' %} selected {% endif %}>한국어</option>
                    <option value='pt' {% if selected[2] == 'pt' %} selected {% endif %}>Português</option>
                    <option value='fr' {% if selected[2] == 'fr' %} selected {% endif %}>français</option>
                    <option value='es' {% if selected[2] == 'es' %} selected {% endif %}>Español</option>
                    <option value='bg' {% if selected[2] == 'bg' %} selected {% endif %}>български език</option>
                    <option value='id' {% if selected[2] == 'id' %} selected {% endif %}>Bahasa Indonesia</option>
                    <option value='tr' {% if selected[2] == 'tr' %} selected {% endif %}>Türkçe</option>
                    <option value='ca' {% if selected[2] == 'ca' %} selected {% endif %}>català, valencià</option>
                    <option value='et' {% if selected[2] == 'et' %} selected {% endif %}>eesti</option>
                    <option value='it' {% if selected[2] == 'it' %} selected {% endif %}>Italiano</option>
                    <option value='uk' {% if selected[2] == 'uk' %} selected {% endif %}>Українська</option>
                    <option value='so' {% if selected[2] == 'so' %} selected {% endif %}>Soomaaliga</option>
                    <option value='ml' {% if selected[2] == 'ml' %} selected {% endif %}>മലയാളം</option>
                    <option value='zh' {% if selected[2] == 'zh' %} selected {% endif %}>中文</option>
                </select>
                <br><br>
                <input type="text" name='category' value='{{ category_name }}' style="visibility: hidden;">
                <center style="margin-left: -18%;"><input id='filtersubmit' type='submit' value='Filter' style="font-size: 16px;"></center>
            </form>

        </div>
        <div id='plot' style="margin-top: 40px; width: 52%;">
            <p style="text-align: center; font-size: 24px;">Tags in {{ category_name }}</p>
            <center>
                <span>
                    x range: <input id='min_x' type="text" value='0' style="width: 30px; text-align: center;">
                    to <input id='max_x' type="text" value='100' style="width: 30px; text-align: center;">
                    , y range: <input id='min_y' type="text" value='0' style="width: 30px; text-align: center;">
                    to <input id='max_y' type="text" value='100' style="width: 30px; text-align: center;">
                    <button id='rangebutton'>Plot</button>
                </span>
            </center>
        </div>
        <div style="margin-top: 50px; width: 30%;">
            <center><span>
                <input id='searchtag' type="text" value='' style="width: 40%;"><button id='searchbutton'>Tag Search</button>
            </span></center>
            <center><span>
                {% if feed_data[1]|length > 0 %}
                {{ feed_data[1]|length }}/{{ feed_data[0]|length }}
                results
                {% else %}
                    {% if search|length > 0 %}
                    0/{{ feed_data[0]|length }}
                    {% else %}
                    {{ feed_data[0]|length }}
                    {% endif %}                
                results
                {% endif %}
            </span></center>
            <div style="height: 22vh">
                <center><table style="text-align: center;">
                    <thead><h4>Top tags in the result</h4></thead>
                    <tbody style="font-size: 16px;">
                        {% for t in feed_data[2] %}
                            {% if loop.index0 < 5 %}
                                <tr>
                                    <td>{{ t }}</td>
                                    <td>{{ feed_data[2][loop.index0 + 5] }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table></center>
            </div>
            <h4 style="text-align: center;">Top videos in the result</h4>
            <div style="height: 50vh; overflow-y: scroll;">
                <table>                    
                    <tbody>
                        {% for v in feed_data[3] %}
                        <tr>
                            <!-- <td><img src="{{ v['cover_url'] }}"></td> -->
                            <td><a href="{{ v['url'] }}" target="_blank" style="color: firebrick; font-size: 13px;">{{ v['title'] }}</a></td>
                            <td style="text-align: center; font-size: 12px;">{{ v['tags'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>

        <script>
            var data = [
                {% for t in feed_data[0] %}
                {
                    'type': 'A',
                    'tag': '{{ t[0] }}',
                    'view_rank': {{ t[1] }},
                    'freq_rank': {{ t[2] }},
                    'view_count': '{{ t[3] }}',
                    'freq_count': '{{ t[4] }}'
                },
                {% endfor %}

                {% for t in feed_data[1] %}
                {
                    'type': 'B',
                    'tag': '{{ t[0] }}',
                    'view_rank': {{ t[1] }},
                    'freq_rank': {{ t[2] }},
                    'view_count': '{{ t[3] }}',
                    'freq_count': '{{ t[4] }}'
                },
                {% endfor %}
            ];

            if (data.length > 15000) alert('There are too many data points in the result (' + data.length + ').\nThe plot might be unclear and not easy to interact with.\nWe strongly recommended you to add more filters.');

            function homepage() {
                var f = document.createElement('form');
                    f.setAttribute('style', 'visibility: hidden;');
                    f.setAttribute('method', 'post');
                    f.setAttribute('action', '/');

                var filter = ['time', 'country', 'lang'];
                for (var i = 0; i < 3; i++) {
                    var s = document.createElement("input");
                    s.setAttribute('style', 'visibility: hidden');
                    s.setAttribute('type', "text");
                    s.setAttribute('name', filter[i]);
                    s.setAttribute('value', document.getElementById('select_' + filter[i]).value);
                    f.appendChild(s);
                }

                document.getElementById('sidebar').appendChild(f);
                f.submit();
            }

            function search() {
                var f = document.createElement('form');
                    f.setAttribute('style', 'visibility: hidden;');
                    f.setAttribute('method', 'post');
                    f.setAttribute('action', '/category');

                    var filter = ['time', 'country', 'lang'];
                    for (var i = 0; i < 3; i++) {
                        var s = document.createElement("input");
                        s.setAttribute('style', 'visibility: hidden');
                        s.setAttribute('type', "text");
                        s.setAttribute('name', filter[i]);
                        s.setAttribute('value', document.getElementById('select_' + filter[i]).value);
                        f.appendChild(s);
                    }

                    var s = document.createElement("input");
                    s.setAttribute('style', 'visibility: hidden');
                    s.setAttribute('type', "text");
                    s.setAttribute('name', 'category');
                    s.setAttribute('value', htmlDecode('{{ category_name }}'));
                    f.appendChild(s);

                    s = document.createElement("input");
                    s.setAttribute('style', 'visibility: hidden');
                    s.setAttribute('type', "text");
                    s.setAttribute('name', 'search');
                    s.setAttribute('value', document.getElementById('searchtag').value);
                    f.appendChild(s);

                    document.getElementById('sidebar').appendChild(f);
                    f.submit();
            }

            function refresh() {
                renderScatterPlot(data);
            }

            document.getElementById('logo').onclick = homepage;
            document.getElementById('rangebutton').onclick = refresh;
            document.getElementById('searchbutton').onclick = search;
            document.getElementById('searchtag').value = htmlDecode('{{ search }}');

            function htmlDecode(input){
                var e = document.createElement('textarea');
                e.innerHTML = input;
                // handle case of empty input
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }


            function renderScatterPlot(data) {
                const width = 0.52 * window.innerWidth;
                const height = 0.7 * window.innerHeight;

                const max_y = parseInt(document.getElementById('max_y').value);
                const min_y = parseInt(document.getElementById('min_y').value);
                const max_x = parseInt(document.getElementById('max_x').value);
                const min_x = parseInt(document.getElementById('min_x').value);

                if (document.contains(document.getElementById('scatterPlot')))
                    document.getElementById('plot').removeChild(document.getElementById('scatterPlot'));
                if (document.contains(document.getElementById('tooltip')))
                    document.body.removeChild(document.getElementById('tooltip'));

                const scatterPlot = d3
                .select("#plot")
                .append("svg")
                .attr("height", height)
                .attr("width", width)
                .attr("id", "scatterPlot")
                .style("background-color", "white")

                //.style("box-shadow", "2px 1px 20px 6px #000000");
                margin = { top: 40, right: 50, bottom: 80, left: 120 };
                const innerWidth = width - margin.right - margin.left;
                const innerHeight = height - margin.top - margin.bottom;

                var formatPercent = d3.format(".0%");

                const xScale = d3
                    .scaleLinear()
                    .range([0, innerWidth])
                    .domain([max_x + 2, min_x - 2]);

                const yScale = d3
                    .scaleLinear()
                    .range([innerHeight, 0])
                    .domain([max_y + 2, min_y - 2]);

                const gScatterPlot = scatterPlot
                    .append("g")
                    .attr("transform", `translate(${margin.left}, ${margin.top})`);

                gScatterPlot.append("defs").append("clipPath")
                    .attr("id", "clip")
                    .append("rect")
                    .attr("width", innerWidth)
                    .attr("height", innerHeight);

                //grid line
                function x_grid() {
                    return d3.axisBottom(xScale)
                        .ticks(10)
                }

                function y_grid() {
                    return d3.axisLeft(yScale)
                        .ticks(10)
                }

                gScatterPlot.append("g")
                    .attr("class", "grid")
                    .attr("transform", `translate(0, ${innerHeight})`)
                    .call(x_grid()
                        .tickSize(-innerHeight)
                        .tickFormat("")
                    )

                gScatterPlot.append("g")
                    .attr("class", "grid")
                    .attr("transform", `translate(0,0)`)
                    .call(y_grid()
                        .tickSize(-innerWidth)
                        .tickFormat("")
                    )

                //x-y axis
                const xAxisG = gScatterPlot
                    .append("g")
                    .call(d3.axisBottom(xScale))
                    .attr("class", "forColoring")
                    .attr("id", "x-axis")
                    .attr("transform", `translate(0, ${innerHeight})`);

                const yAxisG = gScatterPlot
                    .append("g")
                    .attr("class", "forColoring")
                    .attr("id", "y-axis")
                    .call(d3.axisLeft(yScale));


                xAxisG
                    .append("text")
                    .attr("class", "xAxisLabel")
                    .text("Rank in Audience Popularity (%)")
                    .attr("x", innerWidth / 2)
                    .attr("y", 45);
                yAxisG
                    .append("text")
                    .attr("class", "yAxisLabel")
                    .text("Rank in Youtubers Popularity (%)")
                    .attr("x", -innerHeight / 2)
                    .attr("y", -45)
                    .style("transform", "rotate(-90deg)");

                //Tool tip
                var tooltip = d3
                    .select("body")
                    .append("div")
                    .attr("id", "tooltip")
                    .style("opacity", 0);

                 var zoom = d3.zoom()
                     .scaleExtent([1, 10])  // This control how much you can unzoom (x0.5) and zoom (x20)
                     .extent([[0, 0], [innerWidth, innerHeight]])
                     .on("zoom", zoomed);

                gScatterPlot.append("rect")
                    .attr("width", innerWidth)
                    .attr("height", innerHeight)
                    .style("fill", "none")
                    .style("pointer-events", "all")
                    .call(zoom);

                function zoomed() {

                    // recover the new scale
                    var newX = d3.event.transform.rescaleX(xScale);
                    var newY = d3.event.transform.rescaleY(yScale);

                    // update axes with these new boundaries
                    xAxisG.call(d3.axisBottom(newX))
                    yAxisG.call(d3.axisLeft(newY))

                    gScatterPlot
                        .selectAll("circle")
                        .attr('cx', function(d) {return newX(d.view_rank);})
                        .attr('cy', function(d) {return newY(d.freq_rank);});
                }

                var color = ["#ff3333", "#E3BA22"];
                var radSize = 4;

                gScatterPlot
                    .selectAll("dot")
                    .data(data)
                    .enter()
                    .filter(function(d) { return d.freq_rank >= min_y && d.freq_rank <= max_y && d.view_rank >= min_x && d.view_rank <= max_x; })
                    .append("circle")
                    .attr("class", "dot")
                    .attr("cx", function (d) {
                        return xScale(d.view_rank);
                    })
                    .attr("cy", (d) => yScale(d.freq_rank))
                    .attr("r", radSize)
                    .attr("fill", (d) => (d.type == "A" ? color[1] : color[0]))
                    .attr("clip-path", "url(#clip)")
                    .style("stroke", "white")
                    .call(zoom)
                    .on("mouseover", function (d) {
                        tooltip.transition().duration(100).style("opacity", 0.95);
                        tooltip
                            .html(
                                "<span>Tag: " +
                                d.tag +
                                "</span><br>" +
                                "<span>Frequency: " +
                                d.freq_count +
                                " (top " +
                                d.freq_rank +
                                "%)</span><br>" +
                                "<span>View: " +
                                d.view_count +
                                " (top " +
                                d.view_rank +
                                "%)</span><br>"
                            )
                            .style("left", event.pageX + 25 + "px")
                            .style("top", event.pageY + "px")
                    })
                    .on("mouseout", function (d) {
                        tooltip
                            .transition()
                            .duration(100)
                            .style("opacity", 0);
                    })
                    .on('click', function(d) {
                        document.getElementById('searchtag').value = d.tag;
                        document.getElementById('searchbutton').click();
                    });
            }

            renderScatterPlot(data);

        </script>
    </body>

</html>