<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Group Info</title>
        <script src="https://d3js.org/d3.v4.js"></script>
        <link rel="shortcut icon" href="static/images/icons/favicon.ico" type="image/x-icon">

        <script id='criteria' type="text/plain">
The skills of a group are estimated by computing the maximal value of selected professional skills and mean value of selected collaboration skills among all entities within the group.

Collaboration skills include Communication and Collaboration.

Professional skills include the rest: Information Visualization, Statistical, Mathematics, Drawing and Artistic, Computer Usage, Programming, Computer Graphics, Human-Computer Interaction, User Experience Evaluation, Code Repository.
        </script>
    </head>
    <body style="margin-top: 100px; margin-bottom: 100px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">

        <h1 style="text-align: center;">Group Members:</h1>
        {% for i in members %}
            <h3 style="text-align: center;"><a target="_blank" href="person?id={{ i[1] }}" style="color: #007bff;">{{ i[0] }}</a></h3>
        {% endfor %}

        <br>
        <center><button style='background: none; border: none; cursor: pointer;' onclick="alert(criteria.textContent)"><img height="45px" src='https://icon-library.com/images/questionmark-icon/questionmark-icon-8.jpg'></button></center>
        <div class="radarChart" style="text-align: center;"></div>

        <h2 style="text-align: center;">Social Platforms Usage</h3>
        <div id="donutChart" style="text-align: center;"></div>
        <h3 style="text-align: center;">Recommended: {{ recommended }}</h3>

        <script src='static/radarChart.js' ></script>
        <script>
            var survey = [[]];
            {% for key in assess %}
                survey[0].push({axis: '{{ key }}', value: {{ assess[key] }} });
            {% endfor %}

            var long_side = Math.max(window.innerHeight, window.innerWidth);
            var short_side = Math.min(window.innerHeight, window.innerWidth);

            var margin = {top: 0.1 * short_side, right: 0.15 * short_side, bottom: 0.15 * short_side, left: 0.15 * short_side},
                width = Math.max(0.4 * long_side, 0.7 * short_side) - margin.left - margin.right,
                height = width;

            var color = d3.scaleOrdinal()
                .range(["#EDC951","#CC333F","#00A0B0"]);

            var radarChartOptions = {
                w: width,
                h: height,
                margin: margin,
                maxValue: 10.0,
                levels: 5,
                roundStrokes: true,
                color: color
            };

            RadarChart(".radarChart", survey, radarChartOptions);
        </script>

        <script>
            var width = 500,
                height = 300,
                margin = 20;

            // The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
            var radius = Math.min(width, height) / 2 - margin;

            var svg = d3.select("#donutChart")
            .append("svg")
                .attr("width", width)
                .attr("height", height)
            .append("g")
                .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

            // Create dummy data
            var data = {};
            {% for p in scp %}
                data['{{ p }}'] = {{ scp[p] }};
            {% endfor %}
            
            // set the color scale
            var color = d3.scaleOrdinal()
            .domain(["a", "b", "c"])
            .range(["#EDC951","#CC333F","#00A0B0"]);

            // Compute the position of each group on the pie:
            var pie = d3.pie()
            .sort(null) // Do not sort group by size
            .value(function(d) {return d.value; });
            
            var data_ready = pie(d3.entries(data));

            // The arc generator
            var arc = d3.arc()
            .innerRadius(radius * 0.5)         // This is the size of the donut hole
            .outerRadius(radius * 0.8);

            // Another arc that won't be drawn. Just for labels positioning
            var outerArc = d3.arc()
            .innerRadius(radius * 0.9)
            .outerRadius(radius * 0.9);

            // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
            svg
            .selectAll('allSlices')
            .data(data_ready)
            .enter()
            .append('path')
            .attr('d', arc)
            .attr('fill', function(d){ return(color(d.data.key)) })
            .attr("stroke", "white")
            .style("stroke-width", "2px")
            .style("opacity", 0.7);

            // Add the polylines between chart and labels:
            svg
            .selectAll('allPolylines')
            .data(data_ready)
            .enter()
            .append('polyline')
                .attr("stroke", "black")
                .style("fill", "none")
                .attr("stroke-width", 1)
                .attr('points', function(d) {
                    var posA = arc.centroid(d); // line insertion in the slice
                    var posB = outerArc.centroid(d); // line break: we use the other arc generator that has been built only for that
                    var posC = outerArc.centroid(d); // Label position = almost the same as posB
                    var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2; // we need the angle to see if the X position will be at the extreme right or extreme left
                    posC[0] = radius * 0.95 * (midangle < Math.PI ? 1 : -1); // multiply by 1 or -1 to put it on the right or on the left
                    return [posA, posB, posC];
                });

            // Add the polylines between chart and labels:
            svg
            .selectAll('allLabels')
            .data(data_ready)
            .enter()
            .append('text')
                .text( function(d) { return d.data.key; } )
                .attr('transform', function(d) {
                    var pos = outerArc.centroid(d);
                    var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2;
                    pos[0] = radius * 0.99 * (midangle < Math.PI ? 1 : -1);
                    return 'translate(' + pos + ')';
                })
                .style('text-anchor', function(d) {
                    var midangle = d.startAngle + (d.endAngle - d.startAngle) / 2;
                    return (midangle < Math.PI ? 'start' : 'end');
                });
  
        </script>
    </body>
</html>