<!DOCTYPE html>
<html>
    <head>
        <title>Youtube Trending</title>
        <script src="https://d3js.org/d3.v4.js"></script>
        <link rel="shortcut icon" href="static/images/icons/favicon.ico" type="image/x-icon">
    </head>
    <body style="height: 95vh;">
        <div id='sidebar' style="float: left; width: 15%; height: 100%; font-size: large; background-color: #991b1b;">
            <img src='static/images/YouTrendingLOGO.png' width="80%" style="margin-left: 10%; margin-top: 10%; margin-bottom: 10%;">   

            <form action='/' method='POST' style="margin-left: 15%;">
                <p style="color: mintcream;">Trending Time:</p>
                <select name='time' id='select_time' style="font-size: large; width: 80%;">
                    <option value='1w' selected>Last week</option>
                    <option value='1m' {% if selected[0] == '1m' %} selected {% endif %}>Last month</option>
                    <option value='3m' {% if selected[0] == '3m' %} selected {% endif %}>Last 3 months</option>
                    <option value='all' {% if selected[0] == 'all' %} selected {% endif %}>All</option>
                </select>
                <br>
                <p style="color: mintcream;">Country:</p>
                <select name='country' id='select_country' style="font-size: large; width: 80%;">
                    <option value='all' {% if selected[1] == 'all' %} selected {% endif %}>All</option>
                    <option value='br' {% if selected[1] == 'br' %} selected {% endif %}>Brazil</option>
                    <option value='ca' {% if selected[1] == 'ca' %} selected {% endif %}>Canada</option>
                    <option value='de' {% if selected[1] == 'de' %} selected {% endif %}>Germany</option>
                    <option value='fr' {% if selected[1] == 'fr' %} selected {% endif %}>France</option>
                    <option value='gb' {% if selected[1] == 'gb' %} selected {% endif %}>Great Britain</option>
                    <option value='in' {% if selected[1] == 'in' %} selected {% endif %}>India</option>
                    <option value='jp' {% if selected[1] == 'jp' %} selected {% endif %}>Japan</option>
                    <option value='kr' {% if selected[1] == 'kr' %} selected {% endif %}>South Korea</option>
                    <option value='mx' {% if selected[1] == 'mx' %} selected {% endif %}>Mexico</option>
                    <option value='ru' {% if selected[1] == 'ru' %} selected {% endif %}>Russia</option>
                    <option value='us' {% if selected[1] == 'us' %} selected {% endif %}>United States</option>
                </select>
                <br>
                <p style="color: mintcream;">Language:</p>
                <select name='lang' id='select_lang' style="font-size: large; width: 80%;">
                    <option value='all' {% if selected[2] == 'all' %} selected {% endif %}>All</option>
                    <option value='en' {% if selected[2] == 'en' %} selected {% endif %}>English</option>
                    <option value='ru' {% if selected[2] == 'ru' %} selected {% endif %}>русский</option>
                    <option value='de' {% if selected[2] == 'de' %} selected {% endif %}>Deutsch</option>
                    <option value='ja' {% if selected[2] == 'ja' %} selected {% endif %}>日本語</option>
                    <option value='ko' {% if selected[2] == 'ko' %} selected {% endif %}>한국어</option>
                    <option value='pt' {% if selected[2] == 'pt' %} selected {% endif %}>Português</option>
                    <option value='fr' {% if selected[2] == 'fr' %} selected {% endif %}>français</option>
                    <option value='es' {% if selected[2] == 'es' %} selected {% endif %}>Español</option>
                    <option value='bg' {% if selected[2] == 'bg' %} selected {% endif %}>български език</option>
                    <option value='id' {% if selected[2] == 'id' %} selected {% endif %}>Bahasa Indonesia</option>
                    <option value='tr' {% if selected[2] == 'tr' %} selected {% endif %}>Türkçe</option>
                    <option value='ca' {% if selected[2] == 'ca' %} selected {% endif %}>català, valencià</option>
                    <option value='et' {% if selected[2] == 'et' %} selected {% endif %}>eesti</option>
                    <option value='it' {% if selected[2] == 'it' %} selected {% endif %}>Italiano</option>
                    <option value='uk' {% if selected[2] == 'uk' %} selected {% endif %}>Українська</option>
                    <option value='so' {% if selected[2] == 'so' %} selected {% endif %}>Soomaaliga</option>
                    <option value='ml' {% if selected[2] == 'ml' %} selected {% endif %}>മലയാളം</option>
                    <option value='zh' {% if selected[2] == 'zh' %} selected {% endif %}>中文</option>
                </select>
                <br><br><br>
                <center style="margin-left: -18%;"><input type='submit' value='Filter' style="font-size: large;"></center>                
            </form>

        </div>

        <div id='treemap'></div>

        <script>
            function htmlDecode(input){
                var e = document.createElement('textarea');
                e.innerHTML = input;
                // handle case of empty input
                return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
            }

            // set the dimensions and margins of the graph
            var margin = {top: 0, right: 10, bottom: 0, left: 10},
                width = window.innerWidth * 0.83 - margin.left - margin.right,
                height = window.innerHeight * 0.95 + 20 - margin.top - margin.bottom;
        
            // append the svg object to the body of the page
            var svg = d3.select("#treemap")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
            
            // color_value: video_count / sum(video_count) in category top
            // size_value: color_value * category_count
            // count: real view count

            var data = {                
                "children":[
                {% for c in feed_data %}
                    {
                        'name': htmlDecode("{{c[0]}}"),
                        'children': [
                        {% for v in c[1] %}
                            {
                                'title': htmlDecode("{{v['title']}}"),
                                'channel': htmlDecode("{{v['channel']}}"),
                                'count': {{ v['count'] }},
                                'color_value': {{ v['color_value'] }},
                                'size_value': {{ v['size_value'] }},
                                'pubdate': "{{v['pubdate']}}",
                                'trenddate1': "{{v['trenddate1']}}",
                                'trenddate2': "{{v['trenddate2']}}",
                                'cover_url': "{{v['cover_url']}}",
                            },
                        {% endfor %}
                        ]
                    },
                {% endfor %}
                ]
            };
            
            var root = d3.hierarchy(data).sum(function(d){ return d.size_value}) // Here the size of each leave is given in the 'value' field in input data
        
            function wrap(text) {
                text.each(function () {
                    var text = d3.select(this),
                        words = text.text().split(/[\s,|\.]+/).reverse(),
                        word,
                        line = [],
                        lineNumber = 0,
                        lineHeight = 1.1, // ems
                        x = text.attr("x"),
                        y = text.attr("y"),
                        width = parseInt(text.attr('rect_width')) - 25,
                        bottom = parseInt(text.attr('rect_bottom')),
                        dy = 0, //parseFloat(text.attr("dy")),
                        tspan = text.text(null)
                            .append("tspan")
                            .attr("x", x)
                            .attr("y", y)
                            .attr("dy", dy + "em");
                    while (word = words.pop()) {
                        line.push(word);
                        tspan.text(line.join(" "));
                        if (parseInt(tspan.attr('y')) > bottom) {
                            tspan = text.append("tspan")
                            .attr("x", x)
                            .attr("y", y)
                            .attr("dy", ++lineNumber * lineHeight + dy + "em")
                            .text('...');
                            break;
                        }
                        if (tspan.node().getComputedTextLength() > width) {                            
                            line.pop();
                            tspan.text(line.join(" "));
                            line = [word];
                            tspan = text.append("tspan")
                                .attr("x", x)
                                .attr("y", y)
                                .attr("dy", ++lineNumber * lineHeight + dy + "em")
                                .text(word);
                        }
                    }
                });
            }

            // Give the data to this cluster layout:
            d3.treemap()
                .size([width, height])
                .paddingTop(28)
                .paddingRight(8)
                .paddingInner(1)      // Padding between each rectangle
                //.paddingOuter(6)
                //.padding(20)
                (root)

            // function perc2color(perc) {
            //     var r, g, b = 0;
            //     if(perc < 50) {
            //         r = 255;
            //         g = Math.round(10.1 * perc);
            //     }
            //     else {
            //         g = 255;
            //         r = Math.round(510 - 10.10 * perc);
            //     }
            //     var h = r * 0x10000 + g * 0x100 + b * 0x1;
            //     return '#' + ('000000' + h.toString(16)).slice(-6);
            // }

            // var col_bar=[];
            // for(var kk=0;kk<32;kk++)
            // {
            //     col_bar.push(perc2color((3*(kk))));
            // }

            // prepare a color scale
            var color = d3.scaleOrdinal()
            .range([
                "#CD5C5C",
                "#006400",
                "#6A5ACD",
                "#E03D00",
                "#483D8B",
                "#DB7093",
                "#BDB76B",
                "#A0522D",
                "#4B0082",
                "#FF6347",
                "#DA70D6",
                "#696969",
                "#191970",
                "#228B22",
                "#800080",
                "#008B8B",
                "#32CD32",
                "#808080",
                "#C71585",
                "#B22222",
                "#2F4F4F",
                "#556B2F",
                "#000000",
                "#BC8F8F",
                "#DC143C",
                "#C6A700",
                "#663399",
                "#808000",
                "#00008B",
                "#A52A2A",
                "#5F9EA0",
                "#D2691E"
            ]);
        
            // And a opacity scale
            var opacity = d3.scaleLinear()
                .domain([0.33, 0.34])
                .range([0.8, 1])
        
            var Tooltip = d3.select("#treemap")
                .append("div")
                .style("opacity", 0)
                .attr("class", "tooltip")
                .attr('id', 'tooltip')
                .style('position', 'absolute')
                .style("background-color", "white")
                .style("border", "solid")
                .style("border-width", "2px")
                .style("border-radius", "5px")
                .style("padding", "5px")
                .style('visibility', 'hidden')
                .style('font-size', '12px')
                .style('font-weight', 'bold')
                .style('width', '180px')
                .text('')

            // functions that change the tooltip when user hover / move / leave a cell
            var mouseover = function(d) {
                Tooltip
                    .style("opacity", 1)
                    .style('visibility', 'visible')
                    .attr("font-size","5px")
                // d3.select(this)
                //     .style("stroke", "black")
                //     .style("opacity", 1);
                    .html(
                        '<img src=' + d.data.cover_url + ' width=\'100%\' >' + '<br>' +
                        'Title: ' + d.data.title + '<br>' +
                        'Channel: ' + d.data.channel + '<br>' +
                        'Publish date: ' + d.data.pubdate + '<br>' +
                        'First trending date: ' + d.data.trenddate1 + '<br>' +
                        'Last trending date: ' + d.data.trenddate2 + '<br>' +
                        'View: ' + d.data.count
                    )
                
                if (parseInt(d3.select(this).attr("x")) > window.innerWidth * 0.7) {
                    Tooltip.style("left", (parseInt(d3.select(this).attr("x")) + 25) + "px")
                }
                else {
                    Tooltip.style("left", (parseInt(d3.select(this).attr("x")) + window.innerWidth * 0.15 + 25) + "px")
                }
                if (parseInt(d3.select(this).attr("y")) > window.innerHeight * 0.7) {
                    Tooltip.style("top", (parseInt(d3.select(this).attr("y")) - 180 )  + "px")
                }
                else {
                    Tooltip.style("top", (parseInt(d3.select(this).attr("y")) + 15 )  + "px")
                }
            }
            
            var mouseleave = function(d) {
                Tooltip
                    .style("opacity", 0)
                    .style("left", "-100%")
                    .style("top", "-100%")
                // d3.select(this)
                //     .style("stroke", "none")
                //     .style("opacity", 0.8)
            }
        
            document.getElementById('sidebar').addEventListener("mouseover", mouseleave);

            // use this information to add rectangles:
            //d 是node
            svg
                .selectAll("rect")
                .data(root.leaves())
                .enter()
                .append("rect")
                .attr('x', function (d) { return d.x0; })
                .attr('y', function (d) { return d.y0-20; })
                .attr('width', function (d) { return (d.x1 - d.x0); })
                .attr('height', function (d) { return (d.y1 - d.y0); })
                .on("mouseover", mouseover)
                //.on("mousemove", mouseover)
                //.on("mouseleave", mouseleave)
                .style("stroke", "black")
                .style("fill", function(d) { return color(d.parent.data.name) })
                .style("opacity", function(d) { return opacity(d.data.color_value) })
        
            // video title
            svg
                .selectAll("id")
                .data(root.leaves())
                .enter()
                .append("text")
                .attr("x", function(d) { return d.x0+15 })    // +10 to adjust position (more right)
                .attr("y", function(d) { return d.y0+5 })    // +20 to adjust position (lower)
                .attr('rect_width',  function(d) { return d.x1 - d.x0 })
                .attr('rect_bottom',  function(d) { return d.y1 })
                //.text(function(d){ return d.parent.data["name"];})
                .text(function(d) { return d.data.title })
                .attr("font-size", "15px")
                .attr("fill", "white")
                .call(wrap, function(d) { return d.rect_width })
        
            // category name
            svg
                .selectAll("titles")
                .data(root.descendants().filter(function(d){return d.depth==1}))
                .enter()
                .append("text")
                .attr("x", function(d) { return d.x0 })
                .attr("y", function(d) { return d.y0 })
                .text(function(d) { return d.data.name; })
                .attr("font-size", "20px")
                .attr('font-weight', 'bold')
                .attr("fill",  function(d){ return color(d.data.name)} )
                .on("click", function(d) {
                    var f = document.createElement('form');
                    f.setAttribute('style', 'visibility: hidden;');
                    f.setAttribute('method', 'post');
                    f.setAttribute('action', '/category');

                    var filter = ['time', 'country', 'lang'];
                    for (var i = 0; i < 3; i++) {
                        var s = document.createElement("input");
                        s.setAttribute('style', 'visibility: hidden');
                        s.setAttribute('type', "text");
                        s.setAttribute('name', filter[i]);
                        s.setAttribute('value', document.getElementById('select_' + filter[i]).value);
                        f.appendChild(s);
                    }

                    var s = document.createElement("input");
                    s.setAttribute('style', 'visibility: hidden');
                    s.setAttribute('type', "text");
                    s.setAttribute('name', 'category');
                    s.setAttribute('value', d.data.name);
                    f.appendChild(s);

                    document.body.appendChild(f);
                    f.submit();
                })
        </script>
    </body>

</html>