<!DOCTYPE html>
<html>
    <head>
        <title>Personal Info</title>
        <script src="https://d3js.org/d3.v4.js"></script>
        <link rel="shortcut icon" href="static/images/icons/favicon.ico" type="image/x-icon">
    </head>
    <body style="margin-top: 100px; margin-bottom: 100px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        <h1 style="text-align: center;"> {{ data[1] }} </h1>
        <div class="radarChart" style="text-align: center;"></div>
        <div id="survey" style="margin-left: 32%; margin-right: 32%; ">
            {% for q in questions %}
                {% if ((loop.index0 > 1 and loop.index0 < 12) or (loop.index0 > 23 and loop.index0 < 27)) and data[loop.index0]|length > 0 %}
                    <div class='s'>
                        <p style="font-size: 18px;"><b> {{ q }} </b></p>
                        <p> {{ data[loop.index0] }} </p>
                        <br>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <script src='static/radarChart.js'></script>
        <script>
            // Radar Chart
            var survey = [[
                {axis: "Information Visualization", value: {{ data[12] }} },
                {axis: "Statistical", value: {{ data[13] }} },
                {axis: "Mathematics", value: {{ data[14] }} },
                {axis: "Drawing and Artistic", value: {{ data[15] }} },
                {axis: "Computer Usage", value: {{ data[16] }} },
                {axis: "Programming", value: {{ data[17] }} },
                {axis: "Computer Graphics", value: {{ data[18] }} },
                {axis: "Human-Computer Interaction", value: {{ data[19] }} },
                {axis: "User Experience Evaluation", value: {{ data[20] }} },
                {axis: "Communication", value: {{ data[21] }} },
                {axis: "Collaboration", value: {{ data[22] }} },
                {axis: "Code Repository", value: {{ data[23] }} }    
            ]];
        
            var long_side = Math.max(window.innerHeight, window.innerWidth);
            var short_side = Math.min(window.innerHeight, window.innerWidth);
            
            var margin = {top: 0.15 * short_side, right: 0.15 * short_side, bottom: 0.15 * short_side, left: 0.15 * short_side},
                width = Math.max(0.4 * long_side, 0.7 * short_side) - margin.left - margin.right,
                height = width;

            var color = d3.scaleOrdinal()
                .range(["#6c7ae0","#007bff","#00A0B0"]);

            var radarChartOptions = {
                w: width,
                h: height,
                margin: margin,
                maxValue: 10.0,
                levels: 5,
                roundStrokes: true,
                color: color
            };
            
            RadarChart(".radarChart", survey, radarChartOptions);
        </script>

    </body>

</html>